In [220]:
import pandas as pd
a = [1,2,3]
b = list("abc")
c = dict(zip(a,b))
c

{1: 'a', 2: 'b', 3: 'c'}

In [222]:
import pandas as pd
a = {1:[1,2,3], 2:[10,20,30], 3:[100,200,300]}
kakao = pd.DataFrame(a,index=['2020-08-10', '2020-08-11', '2020-08-12'])
#kakao['2020-08-10'] 안됨
kakao[2]
#인덱싱의 기본단위가 칼럼이다 반드시 칼럼의 이름으로 인덱싱해야한다
type(kakao[2])
#시리즈 타입이다! dataframe을 잘라내면 series가 된다고 이해하면된다

pandas.core.series.Series

In [ ]:
#0. 첫날이라 별거 없었다

In [18]:
#8.11 DF,SR 특징, 검색

import pandas as pd

sr = pd.Series([1,2,3,4], index=['a', 'b', 'c', 'd'], name = "SR1")
#객체-생성자

print(sr.dtype)
print(sr.shape)
print(sr.ndim)
print(sr.size)
#객체-메소드

sr

int64
(4,)
1
4

a    1
b    2
c    3
d    4
Name: SR1, dtype: int64

In [30]:
import pandas as pd

df = pd.DataFrame([[1,2,3,4],[5,6,7,8]], index=['a', 'b'], columns=['c1','c2','c3','c4'])

#print(df.dtype)
print(df.shape)
print(df.ndim)
print(df.size)
#객체-메소드

df

(2, 4)
2
8

   c1  c2  c3  c4
a   1   2   3   4
b   5   6   7   8

In [196]:
import pandas as pd

df_f = pd.read_csv('series_dataframe.csv', usecols=['Member','Series','DataFrame'])
#column의 순서는 사실상 랜덤이다.(칼럼 백개잡고 해보면안다) 그래서 usecols으로 위치를 지정해서 읽어온다.

print(df_f.shape)
print(df_f.ndim)
print(df_f.size)

#df_f

test = df_f['Series']

test.tolist() #리스트화
test.isnull() #비워진곳 찾기

test.isnull().sum() #비워진 개수

(df_f['Member'] == df_f['Series']).head() #같은지여부 - 위에서5개

(264, 3)
2
792

29

In [207]:
import pandas as pd
import numpy as np

d = {'a':1, 'b':2, 'c':3}

obj = pd.Series(d)
#obj

s = pd.Series(np.random.randn(5))
s

s1 = pd.Series([1,2,3,4])
id(s1.values) #Dataframe클래스 안에 객체를 관리하는 게 values - 그것의 위치는 id로
s2 = pd.Series([10,20,30,40])

pd.DataFrame({'a':s1, 'b':s2}) #[s1,s2]로 넣으면 index없이 값만 넣는다

   a   b
0  1  10
1  2  20
2  3  30
3  4  40

In [236]:
import pandas as pd
ct = pd.read_csv('2017_college_tuition.csv', encoding='euc-kr')
ct_ser = ct['학교명'] #Dataframe 객체의 Column 즉 Series 
ct_ser[100] #Series 객체의 index번호 <- 기호식 : 옛날식 코딩
ct_ser.__getitem__(100) #위와같다 <- 함수식 : 요즘식 코딩

ct_ser[10:20] #Series 객체의 슬라이싱 (부분 시리즈 객체가 된다)
# ct_ser.__getitem__ 방식으로는 ?? for문

#ct_serr = ct[{'학교명', '설립구분'}] 두개 가져올때
#ct_serr

#ct[10:20] #DataFrame 객체도 슬라이싱 할 수 있다 (부분 DF 객체가 된다)

10      금오공과대학교
11      대구교육대학교
12        목포대학교
13      목포해양대학교
14        부경대학교
15      부산교육대학교
16        부산대학교
17    서울과학기술대학교
18      서울교육대학교
19        서울대학교
Name: 학교명, dtype: object

In [24]:
import pandas as pd
sat = pd.read_csv('2014_korea_sat_scores.csv', encoding='euc-kr')

sat_ser = sat['도수(명)']
sat_per = sat['비율(%)']
I_sat = (sat_ser < 20000) & (sat_per <= 5.0) #수식을 작성에서 Series 타입 Boolean table 객체를 확보하자

sat_logic = sat[I_sat] #True인 녀석만 뽑겠다 - 마스킹이라고함
sat_logic
#내가 하고자 하는 걸 다 할수 있다는 점에서 기능이 있는 R보다 귀찮지만 훨씬 구체적

     등급       과목  구분점수  도수(명)  비율(%)
0     1    국어 A형   128  13866   4.30
8     9    국어 A형  60미만  12554   3.89
9     1    국어 B형   127  12615   4.45
17    9    국어 B형  59미만  10868   3.83
18    1    수학 A형   137  19675   4.77
26    9    수학 A형  75미만  15144   3.67
35    9    수학 B형  67미만   5435   3.39
36    1    영어 A형   129   8825   4.91
44    9    영어 A형  64미만   6758   3.76
45    1    영어 B형   129  17075   4.10
53    9    영어 B형  61미만  16062   3.85
62    9   생활과 윤리  32미만   5467   3.99
71    9   윤리와 사상  34미만   2217   3.12
80    9      한국사  35미만   1483   3.49
81    1    한국 지리    65   4602   4.09
89    9    한국 지리  32미만   3754   3.34
90    1    세계 지리    65   1738   4.61
98    9    세계 지리  32미만   1330   3.53
107   9    동아시아사  33미만   1067   2.89
116   9      세계사  35미만    740   2.57
118   2    법과 정치    63   1299   3.40
125   9    법과 정치  34미만   1353   3.54
127   2       경제    63    480   3.58
134   9       경제  33미만    426   3.17
135   1    사회·문화    65   7203   4.64
143   9    사회·문화  33미만   3603   2.32
144   1      물리Ⅰ    67   2246   4.26
151   8      물리Ⅰ    34   2587   4.91
152   9      물리Ⅰ  34미만   1900   3.61
153   1      화학Ⅰ    65   6745   4.93
..   ..      ...   ...    ...    ...
207   1   지구 과학Ⅱ    66    454   4.35
215   9   지구 과학Ⅱ  35미만    391   3.74
216   1   농생명 산업   135     29   4.26
224   9   농생명 산업  65미만     26   3.82
225   1       공업   141    195   4.23
233   9       공업  72미만    182   3.95
234   1    상업 정보   137    271   4.72
242   9    상업 정보  70미만    196   3.41
243   1    수산·해운   135      5   4.85
250   8    수산·해운    66      5   4.85
251   9    수산·해운  66미만      4   3.88
252   1    가사·실업   137     85   4.33
260   9    가사·실업  67미만     59   3.00
268   8     독일어Ⅰ    35     86   4.96
269   9     독일어Ⅰ  35미만     49   2.83
278   9    프랑스어Ⅰ  35미만     75   3.74
286   8    스페인어Ⅰ    35     70   3.70
287   9    스페인어Ⅰ  35미만     52   2.75
288   1     중국어Ⅰ    67    253   4.38
296   9     중국어Ⅰ  36미만    213   3.68
305   9     일본어Ⅰ  34미만    181   2.30
306   1    러시아어Ⅰ    75     71   4.07
313   8    러시아어Ⅰ    41     84   4.81
314   9    러시아어Ⅰ  41미만     41   2.35
315   1     아랍어Ⅰ    81    445   4.46
323   9     아랍어Ⅰ  41미만    322   3.23
324   1  기초 베트남어    81    953   4.17
332   9  기초 베트남어  40미만    630   2.76
340   8      한문Ⅰ    37    233   3.68
341   9      한문Ⅰ  37미만    216   3.41

[71 rows x 5 columns]

In [2]:
#오늘의 핵심
#1. 시리즈,DF를 인덱싱, 슬라이싱 하면 시리즈, DF가 된다
#2. 시리즈는 리스트로 만들어서 더 많은 연산 가능
#3. 마스킹검색

In [68]:
#8.12 복합검색, 정렬

#펜시검색

import pandas as pd
import seaborn as sns

titanic = sns.load_dataset('titanic')

#인덱싱 안에 인덱싱- 팬시검색
titanic[['age','sex','alive']].isnull()
titanic_age = titanic[['age']] #팬시 검색 하면 series가 아니라 dataframe 타입의 객체로 출력

titanic_ages = titanic['age'] #이렇게 검색하면 series가 출력되지
titanic_ages[[3,4,5]] #series를 다시 팬시검색 하면 series가 출력되고 (인덱스는 그대로 나간다)

3    35.0
4    35.0
5     NaN
Name: age, dtype: float64

In [81]:
#펜시검색 - 행단위 열단위 인덱싱 규칙에 주의

import pandas as pd
import seaborn as sns
dia = sns.load_dataset('diamonds')
dia.isnull().sum() #빈 테이블이 없네

#데이터 프레임은 열단위 접근이 기본
dia[['carat']] # DF
dia['carat'] #SR
dia['carat'][2]

#dia[0:2] #슬라이싱하면 열단위 접근되서 좀 예외적이라 이렇게 쓰지 않지
#dia[2] #열단위 접근이 기본이라 이렇게는 불가능

#행단위로 접근하려면??
dia.loc[:, ['carat']] #DF
dia.loc[:, 'carat'] #SR
dia.loc[2, 'carat']

dia['carat'][2] == dia.loc[2, 'carat']

dia.loc[0:2] #명시적 인덱서 - 0이라고 하는 인덱스 이름을 호출 -> 0에서 2까지
dia.loc[[2]] #팬시 DF
dia.loc[2] #SR #dia.xs(2) 요함수도 동일

dia.iloc[0:2] #암시적 인덱서 - 0번째 인덱스을 호출 -> 0에서 1까지
dia.iloc[2] #팬시 DF
dia.iloc[2] #SR

dia.iloc[2, [2]] #이렇게도 되지
dia.iloc[2, 2] #이렇게도 되지

carat    0.23
Name: 0, dtype: object

In [98]:
#마스킹 복합검색

import pandas as pd
import seaborn as sns
dia = sns.load_dataset('diamonds')

dia.columns
dia[(dia['carat'] == 0.23) & (dia['cut'] == 'Very Good')]

c = dia.loc[((dia['carat'] == 0.23) & (dia['cut'] == 'Very Good'))] #열단위로 마스킹검색

#마찬가지로 행단위로 마스킹검색할 수 있다
dia.loc[((dia['carat'] == 0.23) & (dia['cut'] == 'Very Good')), ['carat']] #DF
dia.loc[((dia['carat'] == 0.23) & (dia['cut'] == 'Very Good')), 'carat'] #SR

c.shape #해당하는 게 몇개인지알수있겠지

(197, 10)

In [5]:
#레이블을 가져와서 인덱스 정렬할 수 있다

import pandas as pd
import seaborn as sns
dia = sns.load_dataset('diamonds')
set_i = dia.set_index('color') #color를 인덱스로 하는 복사본만들기

# #예외처리 문법 -> E에서 F가 정렬이 안 되어있는데?
# try :
#     set_i.loc['E':'F'] #E와 F사이에 뭐가 있으면 그럼 행단위 검색(인덱싱, 슬라이싱)을 할 수 없잖아.
# except ValueError as e:
#     print('ValueError', e) #처리
# except KeyError as e:
#     print('KeyError', e) #처리
    
#그러면 인덱스를 어떻게 정렬하느냐??
set_i.sort_index(inplace=True) #default는 inplace = False 즉 원본에 적용안되니까 받아줘야함, inplace = Ture하면 원본에 적용
set_index                    #default는 ascending = True 즉 오름차순, ascending = False해야 내림차순

       carat        cut clarity  depth  table  price     x     y     z
color
D       0.75      Ideal     SI2   62.2   55.0   2757  5.83  5.87  3.64
D       1.00  Very Good     SI2   63.5   59.0   4295  6.35  6.32  4.02
D       1.00       Good     SI2   57.8   58.0   4295  6.61  6.55  3.80
D       1.00  Very Good     SI2   61.5   63.0   4295  6.32  6.27  3.87
D       0.56      Ideal      IF   61.9   57.0   4293  5.28  5.31  3.28
D       0.90  Very Good     SI1   61.8   59.0   4291  6.13  6.16  3.80
D       0.90  Very Good     SI1   62.1   60.0   4289  6.11  6.19  3.82
D       0.71       Good     VS2   63.6   54.0   4289  5.70  5.75  3.64
D       0.43    Premium     VS2   59.7   59.0    901  4.89  4.93  2.93
D       0.81    Premium     VS1   62.3   58.0   4284  5.94  6.00  3.72
D       0.30      Ideal    VVS1   61.9   57.0    905  4.27  4.29  2.65
D       0.64      Ideal    VVS1   61.5   56.0   4281  5.57  5.59  3.43
D       0.35      Ideal     VS2   60.5   56.0    907  4.63  4.60  2.79
D       0.41  Very Good     SI1   63.4   56.0    907  4.76  4.73  3.01
D       0.61      Ideal    VVS1   62.1   56.0   4279  5.46  5.43  3.38
D       0.24  Very Good     SI1   63.1   55.0    475  3.95  4.01  2.51
D       0.32      Ideal     VS2   59.8   57.0    907  4.51  4.46  2.68
D       0.40      Ideal     VS2   62.2   55.0    909  4.72  4.74  2.94
D       0.30      Ideal     VS2   62.4   56.0    911  4.32  4.27  2.68
D       0.30    Premium     VS2   62.5   59.0    911  4.28  4.23  2.66
D       0.30    Premium     VS2   60.5   58.0    911  4.38  4.35  2.64
D       0.30      Ideal     VS2   61.3   57.0    911  4.36  4.32  2.66
D       0.30    Premium     VS2   62.0   59.0    911  4.27  4.22  2.63
D       0.26      Ideal     VS1   62.0   55.0    580  4.12  4.10  2.55
D       1.00  Very Good     SI2   63.3   60.0   4295  6.29  6.19  3.95
D       0.30    Premium     VS2   62.6   61.0    911  4.25  4.22  2.65
D       0.32    Premium    VVS1   62.0   60.0    910  4.37  4.40  2.72
D       0.32      Ideal    VVS1   61.8   56.0    910  4.37  4.40  2.71
D       0.42  Very Good     VS2   60.7   60.0    910  4.79  4.83  2.92
D       0.38      Ideal     SI1   62.3   57.0    581  4.60  4.65  2.88
...      ...        ...     ...    ...    ...    ...   ...   ...   ...
J       0.58  Very Good     VS2   62.9   58.0   1266  5.30  5.32  3.34
J       1.10    Premium     SI2   59.6   59.0   3726  6.74  6.72  4.01
J       1.03  Very Good     SI2   58.0   60.0   3729  6.64  6.67  3.86
J       1.11  Very Good     VS2   63.2   59.0   3730  6.55  6.46  4.11
J       1.01      Ideal     SI2   61.6   55.0   3732  6.45  6.50  3.99
J       1.15       Good     SI2   63.8   60.0   3733  6.63  6.56  4.21
J       1.01    Premium     SI2   61.2   59.0   3733  6.43  6.37  3.92
J       1.50      Ideal     VS2   60.0   57.0   7503  7.45  7.36  4.44
J       0.90      Ideal     VS1   62.6   54.0   3656  6.15  6.18  3.86
J       1.55    Premium     SI1   62.5   58.0   7502  7.36  7.40  4.61
J       0.56      Ideal     VS2   61.9   57.0   1280  5.29  5.31  3.28
J       2.15       Fair      I1   65.5   57.0   5430  8.01  7.95  5.23
J       1.52  Very Good     VS2   62.6   58.0   7467  7.28  7.31  4.57
J       1.31    Premium     SI2   59.7   59.0   3697  7.06  7.01  4.20
J       1.01       Good     SI1   63.6   54.0   3699  6.44  6.36  4.07
J       0.39       Good     VS1   63.1   56.0    616  4.62  4.70  2.94
J       0.39  Very Good     VS1   61.0   62.0    616  4.66  4.71  2.86
J       0.39    Premium     VS1   61.6   59.0    616  4.67  4.71  2.89
J       0.39       Good     VS1   63.5   58.0    616  4.59  4.64  2.93
J       0.38      Ideal     VS2   61.4   57.0    617  4.65  4.68  2.87
J       1.24  Very Good     VS1   59.1   62.0   5427  7.06  7.04  4.17
J       1.51       Good     VS2   59.5   61.0   7476  7.45  7.62  4.48
J       1.45      Ideal     VS2   61.9   59.0   7477  7.16  7.21  4.45
J       0.59  Very Good     VS2   61.9   58.0   1287  5.35  5.38  3.32
J       1.21      Ideal     VS1   62.3   55.0   5421  6.86  6.81  4.26
J       1.00    Premium     SI1   60.8   58.0   3712  6.39  6.44  3.90
J       1.52      Ideal     SI1   61.9   57.0   7491  7.37  7.33  4.55
J       1.50  Very Good     VS2   62.6   58.0   7492  7.25  7.29  4.55
J       0.65      Ideal     SI1   61.4   55.0   1276  5.58  5.62  3.44
J       1.30      Ideal     SI1   61.5   55.0   5728  7.03  7.06  4.33

[53940 rows x 9 columns]

In [140]:
#원본에 넣거나 바꿀 수 있다

import pandas as pd
import numpy as np
movies = pd.read_csv('movies.csv', usecols=['Film','Year']) #필요한 열만 읽어오겠다

movies_add = pd.read_csv('movies.csv')
movies_add.columns

#moives['has_seen'] = 0 #이런 컬럼이 없다 즉 새로운 컬럼을 추가하는 것이다 - 0은 루프돌아서 전체에 들어간다
movies['has_seen'] = (movies_add['Audience score %'] + movies_add['Rotten Tomatoes %']) // 2 #누락값이 있다면? 연산결과가 누락값으로 리턴
#그러니까 누락값을 미리 체크하고 처리(마스킹?) 하고 해야한다
movies_add

#열단위 인덱싱
movies_add['Worldwide Gross'].dtype #object(pandas 타입 중에서 )라고 뜬다 왜? 달러가 붙어있어! 연산할려면 어떻게 처리할까?!!?!
d = movies_add['Worldwide Gross'].str.replace('$','').astype('float64')
#요즘 스타일 - 메소드 체인 -> 시리즈타입소속-스트링메소드-스트링중에서$를없애라-스트랑을float타입(판다스가제공하는타입)으로변경

movies.columns.get_loc('has_seen') #2가 나온다 뭐가? 칼럼이 두번째 위치에 있다

movies.insert(movies.columns.get_loc('has_seen')+1, "원화환산", d*1200) #기존의 값을 변경해서 컬럼으로 넣기 insert메소드를 이용
                                    #(찔러넣을 위치, 칼럼이름, 값 )
movies #원본이 바뀐다 즉 이전의 객체가 필요하다면 원본을 따로 저장해두어야한다

#현재는 has_seen에 Nan이 없다
movies.loc[74,'has_seen'] = np.nan #지정된 공간에 Nan값을 하나 대입해보자
movies['has_seen'].isnull().sum() #하나가 들어갔다 원본이 바뀌었다

1

In [17]:
#8.13 위과정을 쉽게하는 방법, 문자열데이터처리, 누락값처리

#행열 삭제

import pandas as pd
movies_del = pd.read_csv('movies.csv')
movies_del.shape
movies_del.columns

#열단위삭제
movies_del1 = movies_del.drop('Rotten Tomatoes %', axis=1)
movies_del1
movies_del #원본에 저장안되서 반영안되고 객체를 리턴하므로 반드시 받아줘야 쓸수있다

#행단위삭제
movies_del.drop([1,2,3,4], axis=0) #리턴한걸 안받아주면 전혀 의미없는 문장이 된다
movies_del2 = movies_del.drop([1,2,3,4], axis=0) #리턴값을 받아 해주어야됨
movies_del2 #삭제되도 인덱스는 바뀌지 않는다

movies_del3 = movies_del.drop(['Rotten Tomatoes %', 'Year'], axis=1, inplace=True)
movies_del #이렇게 하면 원본도 바뀐다!!!

,Film,Genre,Lead Studio,Audience score %,Profitability,Worldwide Gross
0,Zack and Miri Make a Porno,Romance,The Weinstein Company,70,1.747542,$41.94
1,Youth in Revolt,Comedy,The Weinstein Company,52,1.090000,$19.62
2,You Will Meet a Tall Dark Stranger,Comedy,Independent,35,1.211818,$26.66
3,When in Rome,Comedy,Disney,44,0.000000,$43.04
4,What Happens in Vegas,Comedy,Fox,72,6.267647,$219.37
5,Water For Elephants,Drama,20th Century Fox,72,3.081421,$117.09
6,WALL-E,Animation,Disney,89,2.896019,$521.28
7,Waitress,Romance,Independent,67,11.089741,$22.18
8,Waiting For Forever,Romance,Independent,53,0.005000,$0.03
9,Valentine's Day,Comedy,Warner Bros.,54,4.184038,$217.57
10,Tyler Perry's Why Did I get Married,Romance,Independent,47,3.724192,$55.86
11,Twilight: Breaking Dawn,Romance,Independent,68,6.383364,$702.17
12,Twilight,Romance,Summit,82,10.180027,$376.66
13,The Ugly Truth,Comedy,Independent,68,5.402632,$205.30
14,The Twilight Saga: New Moon,Drama,Summit,78,14.196400,$709.82
15,The Time Traveler's Wife,Drama,Paramount,65,2.598205,$101.33
16,The Proposal,Comedy,Disney,74,7.867500,$314.70
17,The Invention of Lying,Comedy,Warner Bros.,47,1.751351,$32.40
18,The Heartbreak Kid,Comedy,Paramount,41,2.129444,$127.77
19,The Duchess,Drama,Paramount,68,3.207850,$43.31
20,The Curious Case of Benjamin Button,Fantasy,Warner Bros.,81,1.783944,$285.43
21,The Back-up Plan,Comedy,CBS,47,2.202571,$77.09
22,Tangled,Animation,Disney,88,1.365692,$355.01
23,Something Borrowed,Romance,Independent,48,1.719514,$60.18
24,She's Out of My League,Comedy,Paramount,60,2.440500,$48.81
25,Sex and the City Two,Comedy,Warner Bros.,49,2.883500,$288.35
26,Sex and the City 2,Comedy,Warner Bros.,49,2.883500,$288.35
27,Sex and the City,Comedy,Warner Bros.,81,7.221796,$415.25
28,Remember Me,Drama,Summit,70,3.491250,$55.86
29,Rachel Getting Married,Drama,Independent,61,1.384167,$16.61
...,...,...,...,...,...,...
47,Made of Honor,Comdy,Sony,61,2.649068,$105.96
48,Love Happens,Drama,Universal,40,2.004444,$36.08
49,Love & Other Drugs,Comedy,Fox,55,1.817667,$54.53
50,Life as We Know It,Comedy,Independent,62,2.530526,$96.16
51,License to Wed,Comedy,Warner Bros.,55,1.980206,$69.31
52,Letters to Juliet,Comedy,Summit,62,2.639333,$79.18
53,Leap Year,Comedy,Universal,49,1.715263,$32.59
54,Knocked Up,Comedy,Universal,83,6.636402,$219
55,Killers,Action,Lionsgate,45,1.245333,$93.40
56,Just Wright,Comedy,Fox,58,1.797417,$21.57
57,Jane Eyre,Romance,Universal,77,0.000000,$30.15
58,It's Complicated,Comedy,Universal,63,2.642353,$224.60
59,I Love You Phillip Morris,Comedy,Independent,57,1.340000,$20.10
60,High School Musical 3: Senior Year,Comedy,Disney,76,22.913136,$252.04
61,He's Just Not That Into You,Comedy,Warner Bros.,60,7.153600,$178.84
62,Good Luck Chuck,Comedy,Lionsgate,61,2.367685,$59.19
63,Going the Distance,Comedy,Warner Bros.,56,1.314062,$42.05
64,Gnomeo and Juliet,Animation,Disney,52,5.387972,$193.97
65,Gnomeo and Juliet,Animation,Disney,52,5.387972,$193.97
66,Ghosts of Girlfriends Past,Comedy,Warner Bros.,47,2.044400,$102.22
67,Four Christmases,Comedy,Warner Bros.,52,2.022925,$161.83
68,Fireproof,Drama,Independent,51,66.934000,$33.47
69,Enchanted,Comedy,Disney,80,4.005737,$340.49
70,Dear John,Drama,Sony,66,4.598800,$114.97
71,Beginners,Comedy,Independent,80,4.471875,$14.31
72,Across the Universe,romance,Independent,84,0.652603,$29.37
73,A Serious Man,Drama,Universal,64,4.382857,$30.68
74,A Dangerous Method,Drama,Independent,89,0.448645,$8.97
75,27 Dresses,Comedy,Fox,71,5.343622,$160.31
76,(500) Days of Summer,comedy,Fox,81,8.096000,$60.72

In [49]:
#문자열데이터처리

import pandas as pd
movies_str = pd.read_csv('D:/pandas/실습자료/실습자료/data/korea_movie_list.csv', engine="python")

movies_str.columns
movies_str.shape
movies_str.head(1) #대부분 문자열이네하고 판단

movies_str_ser = movies_str['title']
movies_str_eng = movies_str['title_Eng']

movies_str_ser.hasnans #nan객체가 있느냐? False면 없다
movies_str_eng.hasnans #nan객체가 있느냐? True면 있다

movies_str_eng.shape # 2827

movies_str_eng = movies_str_eng.dropna() #Nan자리의 요소를 파내버린다. Size하면 요소개수가 그만큼 줄어든다
movies_str_eng.shape # 2226

#movies_str_ser.len() #판다스타입이기 때문에 바로 쓸수없다
movies_str_ser.str.len().head()
movies_str_ser.str.find('할로우').head() #-1은 없다는 뜻

0    0
1   -1
2   -1
3   -1
4   -1
Name: title, dtype: int64

In [131]:
#예제

import pandas as pd
op = pd.read_csv('D:/pandas/실습자료/실습자료/data/series_dataframe.csv')

op.columns
op.shape
op.head(1)

op_eq = op['Series'] == op['DataFrame'] #T/F가 Series로 저장
op_eq.head()

#행단위로?
op_eq = op.loc[(op['Series'] == op['DataFrame'])] #T/F가 DF로 저장 -> True인 것만 마스킹
op_eq.tail() #아래서부터

op_eq_list = op_eq['Member'].tolist() #series를 리스트로 받아오기
op_eq_list
#csv상의 메소드, 객체 다 포함되있다

#그중 메소드만 뽑아볼까??
import types
count = 0
for i in op_eq_list :
    try :
        if type(pd.Series.__dict__[i]) == types.FunctionType: #1.일단 csv의 메소드와 객체를 type()에 넣어 실제 Series 클래스 안에 있나확인
                                                              #   있으면 그대로 출력된다 ex pd.Series.__dict__[add] -> add출력 
                                            #2. 그게 FunctionType 즉 메소드가 맞는지 검사해서 맞으면 출력한다. 여기서 객체가 걸러진다
            print(i, end=', ')
            count += 1
        if count %7 == 0:
            print()
    except Exception as e:
        pass

add, agg, aggregate, align, all, any, append,
apply, combine, combine_first, compound, corr, count, cov,
cummax, cummin, cumprod, cumsum, diff, div, divide,
dot, drop, drop_duplicates, dropna, duplicated, eq, ewm,
expanding, fillna, floordiv, ge, get_value, get_values, gt,
hist, idxmax, idxmin, isin, isna, isnull, keys,
kurt, kurtosis, le, lt, mad, max, mean,
median, memory_usage, min, mod, mode, mul, multiply,
ne, nlargest, notna, notnull, nsmallest, pow, prod,
product, quantile, radd, rdiv, reindex, reindex_axis, rename,
reorder_levels, replace, reset_index, rfloordiv, rmod, rmul, rolling,
round, rpow, rsub, rtruediv, sem, set_value, shift,
skew, sort_index, sort_values, std, sub, subtract, sum,
swaplevel, to_csv, to_dict, to_period, to_sparse, to_string, to_timestamp,
transform, truediv, unstack, update, var,

In [142]:
#중복값처리

import pandas as pd
c = pd.read_csv('D:/pandas/실습자료/실습자료/data/2017_college_tuition.csv', encoding="euc-kr")
c.dtypes
c.get_dtype_counts() #카운팅해주는것

# try :
#     c + 5
# except Exception as e :
#     print(e)
    
c['평균등록금'] = c['평균등록금'] * 1000
c.head()

#c['평균등록금'] + c['평균등록금'] #기호식 - 원본저장안함
c['평균등록금'].add(c['평균등록금'])#같은말 - 메소드식 - 원본저장안됨
#help(c['평균등록금'].add) #add에 대한 안내문(설명서)

c.select_dtypes(include=['int64']).head() #int64형인 열만 출력
c.select_dtypes(include=['number']).head() #number는 포함관계가 더 크다
c.select_dtypes(include=['object']).head()
#결과는 DF타입이다!!

#series내에만
d = c['평균등록금'].value_counts(normalize=True).head() #해당값이 몇개인지를 카운팅해서 높은거부터 랜덤출력
                                #(normalize 켜면 빈도를 퍼센트로 표시)
d = c['평균등록금'].duplicated().head() #어딘가에서 중복이 발생했는가 즉 동일한 요소가 있는가
d = c['평균등록금'].unique() #numpy배열으로 유일한 값들을 반환
d

#series에는
#d = c['평균등록금'].nlargest(5) #제일큰거다섯개
#d = c['평균등록금'].nsmallest(5) #제일큰거다섯개

#df에는
#c.nlargest(5, '평균등록금')
#c.nsmallest(5, '평균등록금')

array([4262000, 4116000, 3771000, 4351000, 3967000, 3189000, 3424000,
       3824000, 3477000, 3914000, 3769000, 3604000, 3895000, 4042000,
       3024000, 4325000, 5405000, 3088000, 5962000, 2390000, 3946000,
       3745000, 4681000, 4129000, 4181000, 3272000, 3783000, 3445000,
       3898000, 3230000, 3185000, 4216000, 4253000, 4062000, 3184000,
       4107000, 3884000, 3743000, 4451000, 6656000, 8206000, 7088000,
       7016000, 5994000, 7358000, 8042000, 6700000, 7226000, 6426000,
       7272000, 6486000, 7534000, 7183000, 6722000, 7752000, 7151000,
       8215000, 6594000, 5986000, 7800000,       0, 6497000, 6269000,
       7853000, 7336000, 6564000, 6980000, 7031000, 7115000, 6492000,
       7787000, 8086000, 7125000, 6801000, 8295000, 5226000, 7164000,
       6333000, 5760000, 7233000, 5956000, 7157000, 6973000, 7862000,
       7377000, 6899000, 6779000, 6589000, 6735000, 6879000, 6513000,
       6300000, 8090000, 7202000, 6452000, 7090000, 7708000, 6745000,
       6118000, 5831000, 7746000, 7851000, 6952000, 7946000, 7759000,
       6662000, 7098000, 6823000, 7510000, 7558000, 6898000, 7483000,
       7184000, 7048000, 8357000, 7713000, 6803000, 7812000, 6272000,
       6376000, 5097000, 7481000, 7919000, 7756000, 7913000, 6701000,
       6566000, 8649000, 6556000, 8232000, 7535000, 8824000, 7339000,
       5967000, 7298000, 6458000, 2000000, 6693000, 7918000, 7646000,
       6904000, 7061000, 7284000, 7278000, 7323000, 8499000, 8526000,
       7021000, 7509000, 7626000, 6615000, 6968000, 6381000, 6872000,
       7161000, 8068000, 1760000, 7131000, 6237000, 7274000, 7623000,
       6431000, 6935000, 8471000, 5983000, 6950000, 6697000, 7439000,
       5580000, 6355000, 4521000, 9004000, 7063000, 7121000, 8470000,
       7189000, 7087000, 6934000, 6437000, 7455000, 7947000, 7595000,
       8076000, 7175000, 8423000, 6636000, 6196000, 7159000, 7300000,
       6482000, 6438000, 7695000, 6929000, 8297000], dtype=int64)

In [35]:
#누락값처리 - (1) dropna로 잡아빼기  

import pandas as pd
op = pd.read_csv('D:/pandas/실습자료/실습자료/data/series_dataframe.csv')

op_not = op.loc[(op['Series'] != op['DataFrame'])]
op_not.head() #서로 다른것만 출력되네
op_not.shape

op_ser = op_not['Series'].dropna() #누락값제거 - 원본영향X
op_ser.tolist() #series에만 있는 것들이 나오겠지

            Member        Series      DataFrame
12        applymap           NaN       applymap
13          argmax        argmax            NaN
14          argmin        argmin            NaN
15         argsort       argsort            NaN
19        asobject      asobject            NaN
21          assign           NaN         assign
25        autocorr      autocorr            NaN
27            base          base            NaN
28         between       between            NaN
33         boxplot           NaN        boxplot
34             cat           cat            NaN
38         columns           NaN        columns
42        compress      compress            NaN
47        corrwith           NaN       corrwith
54            data          data            NaN
63              dt            dt            NaN
64           dtype         dtype            NaN
70            eval           NaN           eval
73       factorize     factorize            NaN
79           flags         flags            NaN
81      from_array    from_array            NaN
83       from_dict           NaN      from_dict
84      from_items           NaN     from_items
85    from_records           NaN   from_records
86           ftype         ftype            NaN
96         hasnans       hasnans            NaN
103           imag          imag            NaN
106           info           NaN           info
107         insert           NaN         insert
110   is_monotonic  is_monotonic            NaN
..             ...           ...            ...
151        nonzero       nonzero            NaN
158          pivot           NaN          pivot
159    pivot_table           NaN    pivot_table
165            ptp           ptp            NaN
166            put           put            NaN
168          query           NaN          query
171          ravel         ravel            NaN
173           real          real            NaN
180         repeat        repeat            NaN
184        reshape       reshape            NaN
194   searchsorted  searchsorted            NaN
196  select_dtypes           NaN  select_dtypes
199      set_index           NaN      set_index
210          stack           NaN          stack
212          style           NaN          style
213            str           str            NaN
214        strides       strides            NaN
227     to_feather           NaN     to_feather
228       to_frame      to_frame            NaN
229         to_gbq           NaN         to_gbq
231        to_html           NaN        to_html
235       to_panel           NaN       to_panel
236     to_parquet           NaN     to_parquet
239     to_records           NaN     to_records
242       to_stata           NaN       to_stata
246         tolist        tolist            NaN
254         unique        unique            NaN
257          valid         valid            NaN
258   value_counts  value_counts            NaN
261           view          view            NaN

[74 rows x 3 columns]

In [173]:
#인덱스값 변경

import pandas as pd
s = pd.Series([1,2,3,4])
s_re = s.rename({0:'a',1:'b',2:'c',3:'d'}) #원본이 바뀌지 않는 메소드!
s_re.reindex(['a','b','c','e']) #재창조
s_re.reindex(['c','a','b']) #없애거나 바꿀수도 있네
s_re.reindex(['c','a','b','d','e']) #d도 저장되있다
s_re #reindex도 원본을 건들지는 않는다


s1 = pd.Series([10,20,30], index=[0,1,2])
s1.index.dtype #게별 index값을 관리하는 별도의 매소드 -> index타입

s2 = pd.Series([1,2,3], index=list('012')) #정수처럼보이지만 문자열
s2.index.dtype #오브젝트타입이다 즉 s1 + s2 불가

s2.index = [0,1,2] #인덱스를 정수로 새로 넣었다
s = s1 + s2 #이제가능

s3 = pd.Series([11,22,33], index=list('012'))
s3 = s3.rename({'0':0,'1':1,'2':2}) #메소드로도 가능~
s3.index.dtype
s += s3
s

0    22
1    44
2    66
dtype: int64

In [191]:
#필터링

import pandas as pd
f = pd.read_csv('D:/pandas/실습자료/실습자료/data/flight_route_info.csv', encoding='cp949')
f.shape
f.columns

fr =f.filter(like='2016.6') #2016.6이 포함된 열이름을 가진 열만 출력
fr.columns
fr = f.filter(regex='\d').head() #필터내에 정규표현식을 넣으면 데시말에 의거해서 정수타입을 가진 열이름의 열만 걸러낸다
fr.columns

Index(['2016.6', '2018.5', '운항_2016', '운항_2017', '운항_2018', '운항_2016.12',
       '운항_2017.1', '운항_2017.2', '운항_2017.12', '운항_2018.1', '운항_2018.2',
       '운항_2016겨울', '운항_2017겨울', '운항_2017.3', '운항_2017.4', '운항_2017.5',
       '운항_2018.3', '운항_2018.4', '운항_2018.5', '운항_2017봄', '운항_2018봄',
       '운항_2016.6', '운항_2016.7', '운항_2016.8', '운항_2017.6', '운항_2017.7',
       '운항_2017.8', '운항_2016여름', '운항_2017여름', '운항_2016.9', '운항_2016.10',
       '운항_2016.11', '운항_2017.9', '운항_2017.10', '운항_2017.11', '운항_2016가을',
       '운항_2017가을', '운송량_2016', '운송량_2017', '운송량_2018', '운송량_2016.12',
       '운송량_2017.1', '운송량_2017.2', '운송량_2017.12', '운송량_2018.1', '운송량_2018.2',
       '운송량_2016겨울', '운송량_2017겨울', '운송량_2017.3', '운송량_2017.4', '운송량_2017.5',
       '운송량_2018.3', '운송량_2018.4', '운송량_2018.5', '운송량_2017봄', '운송량_2018봄',
       '운송량_2016.6', '운송량_2016.7', '운송량_2016.8', '운송량_2017.6', '운송량_2017.7',
       '운송량_2017.8', '운송량_2016여름', '운송량_2017여름', '운송량_2016.9', '운송량_2016.10',
       '운송량_2016.11', '운송량_2017.9', '운송량_2017.10', '운송량_2017.11', '운송량_2016가을',
       '운송량_2017가을'],
      dtype='object')

In [13]:
#8.14 누락값처리, 범주형누락값도 처리 *원본 저장이 안된다* 
# (1) dropna는 그냥 다 삭제 (2) fillna는 원하는 값으로 다 채우기 / (3) interpolate는 위아래의 평균값으로 보강

#누락값 처리 (2번)

import numpy as np
import pandas as pd

s = pd.Series([0,1,'0',3])
s #이렇게되면 0,1,3도 object 타입으로 바뀐다

s = pd.Series([0,1,np.nan,3])
s #넘파이의 기본타입이 float. 즉 이렇게되면 0,1,3도 float 타입으로 바뀐다

s.fillna(method='ffill') #값을 넣으면 그 값으로 채워진다. 값대신 특정 속성을 줘볼까 - ffill는 누락값 바로 앞의 값을 누락값으로 치환
s.fillna(method='pad') #마찬가지로 누락값 바로 앞의 값을 누락값으로 치환
s.fillna(method='bfill') #누락값 뒤의 값을 누락값으로 치환

f = pd.read_csv('D:/pandas/실습자료/실습자료/data/flight_route_info.csv', encoding='cp949')

#누락값 보는 방법
f.isnull().sum() #비고라는 컬럼에 누락값이 있다.
f.isnull().sum().sum() #이렇게 하면 행들의 총합 즉 전체의 누락값을 보여준다
f['비고'].value_counts(dropna=False) #비고의 값들의 빈도를 보면 누락값의 빈도가 같이 나온다

#누락값 처리
f['비고'].dtype #열에대한 자료형은 object임
f.fillna("", axis=1, inplace=True) #대체하고자하는 대상(object타입), 적용 하고자 하는 방향, 원본에 작용할지

f['비고'].value_counts(dropna=False) #다시한번 비고의 값들의 빈도를 살펴보면 Nan 대신 ""이 싹다 들어가있다

In [33]:
#같은 내용 다르게 해보자

import pandas as pd

f = pd.read_csv('D:/pandas/실습자료/실습자료/data/flight_route_info.csv', encoding='cp949')

f['비고'].value_counts(dropna=False).head()

ff = f.select_dtypes(['object']) #오브젝트타입의 객체를 전부 검색해서 리턴받아 (팬시검색이용)
ff
ff = f.select_dtypes(['object']).fillna('') #오브젝트에 대해서만 nan을 새로운 이름으로 처리 메소드체인방식 - 간단하다
ff

ff['비고'].value_counts(dropna=False).head() #이제 nan없으니까 dropna 안해도 상관은 없다

                        412
2016.11.05. 이후 폐선         4
2018.04.24. 이후 기록 없음      3
2018.03.08. 하루 운항         2
2017.03.15. 하루 운항         2
Name: 비고, dtype: int64

In [39]:
#누락값 처리 (3번)

import pandas as pd
import numpy as np

s = pd.Series([0,1,np.nan,3])
s.interpolate()

a = pd.read_csv('D:/pandas/실습자료/실습자료/data/airplane_info.csv', encoding='cp949')
a.isnull().sum()

a[['기체번호','총정원']].tail()

aa = a['총정원'].interpolate()
aa.isnull().sum()

0

In [45]:
# 누락값 삭제하기 (1번)다시

import pandas as pd
import numpy as np

c = pd.read_csv('D:/pandas/실습자료/실습자료/data/central_asia_flight_info.csv', encoding='cp949')
c.shape
c.count() #이렇게 하면 isnull과 반대로 0인 컬럼만 Nan이 있는거겠지 / 근데 전체열이 Nan일때 아니면 사용할 수 없으니 비효율적이겠지 

c.isnull().sum()
cc = c.dropna(axis=1)
cc #에서 unnamed가 삭제되었다

         노선명 출발 공항 출발 국가 도착 공항 도착 국가    기체번호        기종  정원(전체)    년도   월   일
0      7J105   DYU   TJK   IKA   IRI  EY-444  B737-3L9     149  2016   6   5
1      7J105   DYU   TJK   IKA   IRI  EY-444  B737-3L9     149  2016   6  12
2      7J105   DYU   TJK   IKA   IRI  EY-757  B757-231     197  2016   6  19
3      7J105   DYU   TJK   IKA   IRI  EY-757  B757-231     197  2016   6  26
4      7J105   DYU   TJK   IKA   IRI  EY-757  B757-231     197  2016   7   3
5      7J105   DYU   TJK   IKA   IRI  EY-757  B757-231     197  2016   7  10
6      7J105   DYU   TJK   IKA   IRI  EY-757  B757-231     197  2016   7  17
7      7J105   DYU   TJK   IKA   IRI  EY-757  B757-231     197  2016   7  24
8      7J105   DYU   TJK   IKA   IRI  EY-757  B757-231     197  2016   7  31
9      7J105   DYU   TJK   IKA   IRI  EY-444  B737-3L9     149  2016   8   7
10     7J105   DYU   TJK   IKA   IRI  EY-757  B757-231     197  2016   8  14
11     7J105   DYU   TJK   IKA   IRI  EY-444  B737-3L9     149  2016   8  21
12     7J105   DYU   TJK   IKA   IRI  EY-444  B737-3L9     149  2016   8  28
13     7J105   DYU   TJK   IKA   IRI  EY-757  B757-231     197  2016   9   4
14     7J105   DYU   TJK   IKA   IRI  EY-757  B757-231     197  2016   9  11
15     7J105   DYU   TJK   IKA   IRI  EY-751  B757-2Q8     224  2016   9  18
16     7J105   DYU   TJK   IKA   IRI  EY-751  B757-2Q8     224  2016   9  25
17     7J105   DYU   TJK   IKA   IRI  EY-757  B757-231     197  2016  10   2
18     7J105   DYU   TJK   IKA   IRI  EY-757  B757-231     197  2016  10   9
19     7J105   DYU   TJK   IKA   IRI  EY-757  B757-231     197  2016  10  16
20     7J105   DYU   TJK   IKA   IRI  EY-757  B757-231     197  2016  10  23
21     7J105   DYU   TJK   IKA   IRI  EY-757  B757-231     197  2016  10  30
22     7J105   DYU   TJK   IKA   IRI  EY-444  B737-3L9     149  2016  11   6
23     7J105   DYU   TJK   IKA   IRI  EY-444  B737-3L9     149  2016  11  13
24     7J105   DYU   TJK   IKA   IRI  EY-444  B737-3L9     149  2016  11  20
25     7J105   DYU   TJK   IKA   IRI  EY-444  B737-3L9     149  2016  11  27
26     7J105   DYU   TJK   IKA   IRI  EY-444  B737-3L9     149  2016  12   4
27     7J105   DYU   TJK   IKA   IRI  EY-444  B737-3L9     149  2016  12  11
28     7J105   DYU   TJK   IKA   IRI  EY-444  B737-3L9     149  2016  12  18
29     7J105   DYU   TJK   IKA   IRI  EY-444  B737-3L9     149  2016  12  25
...      ...   ...   ...   ...   ...     ...       ...     ...   ...  ..  ..
94985  PC613   FRU   KGZ   SAW   TUR  TC-CPD  B737-82R     189  2016   8  24
94986  PC613   FRU   KGZ   SAW   TUR  TC-CPF  B737-82R     189  2016   8  23
94987  PC613   FRU   KGZ   SAW   TUR  TC-CPD  B737-82R     189  2016   8  22
94988  PC613   FRU   KGZ   SAW   TUR  TC-CPL  B737-82R     189  2016   8  21
94989  PC613   FRU   KGZ   SAW   TUR  TC-CPB  B737-82R     189  2016   8  19
94990  PC613   FRU   KGZ   SAW   TUR  TC-CPJ  B737-82R     189  2016   8  18
94991  PC613   FRU   KGZ   SAW   TUR  TC-CPB  B737-82R     189  2016   8  17
94992  PC613   FRU   KGZ   SAW   TUR  TC-CPP  B737-804     189  2016   8  16
94993  PC613   FRU   KGZ   SAW   TUR  TC-CPN  B737-82R     189  2016   8  15
94994  PC613   FRU   KGZ   SAW   TUR  TC-CPB  B737-82R     189  2016   8  14
94995  PC613   FRU   KGZ   SAW   TUR  TC-CPP  B737-804     189  2016   8  12
94996  PC613   FRU   KGZ   SAW   TUR  TC-CPI  B737-82R     189  2016   8  11
94997  PC613   FRU   KGZ   SAW   TUR  TC-CPK  B737-82R     189  2016   8  10
94998  PC613   FRU   KGZ   SAW   TUR  TC-CPZ  B737-8H6     189  2016   8   9
94999  PC613   FRU   KGZ   SAW   TUR  TC-CPG  B737-82R     189  2016   8   8
95000  PC613   FRU   KGZ   SAW   TUR  TC-CPN  B737-82R     189  2016   8   7
95001  PC613   FRU   KGZ   SAW   TUR  TC-AZP  B737-82R     189  2016   8   5
95002  PC613   FRU   KGZ   SAW   TUR  TC-CPE  B737-82R     189  2016   8   4
95003  PC613   FRU   KGZ   SAW   TUR  TC-CPL  B737-82R     189  2016   8   3
95004  PC613   FRU   KGZ   SAW   TUR  TC-CPG  B737-82R     189  2016   8   2
95005  PC613   FRU   KGZ   SAW   TUR  TC-CRA  B737-8H6     189  2016   8   1
95006  PC613   FRU   KGZ   SAW   TUR  TC-AZP  B737-82R     189  2016   7  29
95007  PC613   FRU   KGZ   SAW   TUR  TC-CPB  B737-82R     189  2016   7  26
95008  PC613   FRU   KGZ   SAW   TUR  TC-CPL  B737-82R     189  2016   7  22
95009  PC613   FRU   KGZ   SAW   TUR  TC-AZP  B737-82R     189  2016   7  19
95010  PC613   FRU   KGZ   SAW   TUR  TC-CPL  B737-82R     189  2016   7  15
95011  PC613   FRU   KGZ   SAW   TUR  TC-AZP  B737-82R     189  2016   7  12
95012  PC613   FRU   KGZ   SAW   TUR  TC-CPL  B737-82R     189  2016   7   8
95013  PC613   FRU   KGZ   SAW   TUR  TC-AZP  B737-82R     189  2016   7   5
95014  PC613   FRU   KGZ   SAW   TUR  TC-CPL  B737-82R     189  2016   7   1

[95015 rows x 11 columns]

In [63]:
#행식제 *원본은 안 건드린다* 행울 삭제할때는 누락값이 걸린 행번호 인덱스값을 확보 후에 삭제

import pandas as pd
import numpy as np

a = pd.read_csv('D:/pandas/실습자료/실습자료/data/airplane_info.csv', encoding='cp949')
a.count()

#참고
np.isnan(np.array([1,2,np.nan])) #nan이면 True로 나온다
a['총정원'].apply(np.isnan) #시리즈객체 - 세로로 누락값 T/F 확인
a['총정원'].index #하나의 열을 읽어와 속성조회
a['총정원'].index[[2106,2107]] #행 객체의 속성조회 - 팬시검색

index_nan = a['총정원'].index[a['총정원'].apply(np.isnan)] #마스킹 검색 - 걸리는 녀석만 확보
                            #누락값이 True인 놈들만 인덱스를 뽑아낸다
index_nan

aa = a.drop(index=index_nan) #뽑아냈으니 이제 해당 Nan인 열만 삭제 
aa.shape

#간단하게? *단, 필요에 따라 행번호가 필요한 경우에는 위에 처럼 길지만 세세한 조정이 가능한 방식으로 사용 *
a_info_dropna = a.dropna(axis=0)
a_info_dropna.shape

#무모하게? 비권장- nan이 한 클래스에 몰려있는 경우가 없으니까!!
a_info_dropna = a.dropna(axis=0)
a_info_dropna.shape

(2107, 8)

In [162]:
#중복값 관리

import pandas as pd
import numpy as np
import seaborn as sns
iris = sns.load_dataset('iris')

iris.columns
iris.head()

iris.duplicated() #다 똑같은 거는 없다

iris['species'].duplicated() #종은 똑같은게 많지
iris['species'].unique() #세개의 별개의 종이 있다
iris_drop = iris['species'].drop_duplicates() #True로 표시된거 다 삭제한다
iris_drop

#예제위해서 임의로 똑같은거 만들자
iris_dup = iris.copy() #사본데이터 만들자
iris.iloc[[0]] 
iris_dup.iloc[1,:] = iris.iloc[0, :] #복사본의 2번째행부터 원본의 1번째행을 넣는다
iris_dup.head(5) #첫째행과 둘째행이 값다

iris_dup.duplicated().sum() #중복값이 하나 생겼다
# iris_dup.drop_duplicates(inplace=True)
# iris_dup.shape

0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
120    False
121    False
122    False
123    False
124    False
125    False
126    False
127    False
128    False
129    False
130    False
131    False
132    False
133    False
134    False
135    False
136    False
137    False
138    False
139    False
140    False
141    False
142     True
143    False
144    False
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [167]:
# 범주형 데이터

import pandas as pd
import numpy as np

s = pd.Series(['a','b','c','a'], dtype = "category") #category는 integer, object 이런 타입들의 상위 클래스 - 관리 클래스라고 보면됨
s.shape

s.values.categories #클래스 안에 들어가봤더니 값 자체들은 object다 전체를 관리하는 녀석만 category라고 보면 된다

s.index
s.dtype

try:
#    s[2] = 'd' #d는 카테고리 안에 등록이 안된 값이라서 받아줄 수가 없다
#    s[4] = 'a' #index 를 늘릴 수도 없다
    s[3] = 'c' #index 내에서 요소가 기존에 있을 때만 범주안을 변경할 수 있다
except Exception as e:
    print(e)

cat_1 = pd.Categorical(['a', 'c', 'c', np.nan], categories=['b', 'a', 'c']) #카테고리 만드는 생성자, a,b,c는 범주 안에 넣어준다 
cat_1

df = pd.DataFrame({'cat':cat_1, 's':['a','c','c', np.nan]})
df #두 열은 타입이 다르다!!!! 같이 어떻게 연산 할 수가 없다
df.select_dtypes(exclude=['object']) #오브젝트 타입 열을 제외해라 라고 해보면 카테고리타입만 살아남아 - 원본영향X

df['cat'][3] = 'b' #시리즈 객체의 인덱싱
df #b는 원래 카테고리 안에 있던 값이므로 가능

df.loc[4, :] = ['a', 'a'] #시리즈 객체의 슬라이싱
df #가능

  cat    s
0   a    a
1   c    c
2   c    c
3   b  NaN
4   a    a

In [35]:
#범주형 데이터 누락값 처리

import pandas as pd
import numpy as np

a = pd.read_csv('D:/pandas/실습자료/실습자료/data/airplane_info.csv', encoding='cp949')
a['항공사'].dtype #오브젝트로 들어가있지만 카테고리로 만들면 어떨까? 기존에 없던 항공사가 들어오는 것을 방지 할 수 있어 효율적

air_cat = pd.Categorical(a['항공사']) #Series 객체를 넣으면 자동으로 쉽게 만들어진다

a['항공사'].dtype #원본은 변화없다
air_cat.dtype #카테고리
air_cat.categories #항공사 이름들이 카테고리로 들어갔네
air_cat.shape

a['항공사'] = a['항공사'].astype(air_cat.dtype) #원본 변화시켜주기

a['항공사'].dtype #변경되었다.

try:
    a['항공사'][0]='Air Asia'
except Exception as e:
    print(e)
    
a.isnull().sum()
a['총정원'].isnull().sum()

a['총정원'].dtype #nan 때문에 float 64로 가져온다

a.loc[a['총정원'].isnull(), '총정원'] = a.loc[a['총정원'].isnull(), '정원_Y'] # 총정원열에서 Nan 행을 찾아 정원_Y열의 해당 행값으로 대체 
a.isnull().sum() #DONE
a #정원Y는 int형이지만 float열로 가져오면서 float가 된다

dtype('float64')